services:
  go-server: # deploy with tunnel on port 3000
    image: ghcr.io/benkoppe/bear-trak-go:${SOURCE_COMMIT:-latest}
    restart: always
    build:
      context: .
      target: final
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=app
      - POSTGRES_PORT=5432
      - POSTGRES_SSLMODE=disable
      - SCHOOL_CODE=${SCHOOL_CODE}
      - UMICH_DINING_API_KEY=${UMICH_DINING_API_KEY}
      - INTERNAL_EXPORT_TOKEN=${INTERNAL_EXPORT_TOKEN}
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - chromedp-profile:/tmp/chromedp-profile # persist chromedp data

  db:
    image: postgres:17.6
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data:
  chromedp-profile:
