openapi: 3.0.0
x-stoplight:
  id: 9w0rmq5t2ukz4
info:
  title: bear-trak-backend
  version: "1.0"
  description: This API services the iOS app BearTrak. It provides all necessary backend data.
  contact:
    name: Benjamin Koppe
    url: github.com/benkoppe
    email: koppe.development@gmail.com
  license:
    name: GPLv3
    url: "https://www.gnu.org/licenses/gpl-3.0.en.html"
servers:
  - url: "https://beartrakapi.thekoppe.com"
    description: Service deployment.
  - url: "http://localhost:3000"
    description: Localhost deployment.
paths:
  /v1/alerts:
    get:
      summary: Alerts
      tags:
        - beartrak
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Alert"
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: getV1Alerts
      x-stoplight:
        id: i81d677y6pf4u
      description: Returns all of BearTrak's active alerts.
  /v1/dining:
    get:
      summary: Dining
      tags:
        - dining
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Eatery"
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: getV1Dining
      x-stoplight:
        id: mr1vidtnkgibv
      description: Returns all necessary data for BearTrak's dining section.
  /v1/gyms:
    get:
      summary: Gyms
      tags:
        - gyms
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Gym"
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: getV1Gyms
      x-stoplight:
        id: bgkkzgl4exihm
      description: Returns all necessary data for BearTrak's gym section.
  /v1/gyms/capacities:
    get:
      summary: Gym Capacities
      tags:
        - gyms
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GymCapacityData"
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: getV1GymCapacities
      x-stoplight:
        id: a8uzxemghpcxz
      description: Returns all time-logged gym capacity data
  /v1/gyms/capacities/predictions:
    get:
      summary: Gym Capacity Predictions
      tags:
        - gyms
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GymCapacityPredictions"
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: getV1GymCapacityPredictions
      x-stoplight:
        id: aglc6o7iqsbqo
      description: Returns all time-logged gym capacity prediction data
  /v1/study:
    get:
      summary: Study
      tags:
        - study
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StudyData"
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: getV1Study
      x-stoplight:
        id: 4ahnm07h1tk19
      description: Returns all necessary data for BearTrak's study section.
    parameters: []
  /v1/transit/routes:
    get:
      summary: Routes
      tags:
        - transit
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BusRoute"
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: getV1TransitRoutes
      x-stoplight:
        id: x9u9nrkadrz7r
      description: "Returns non time-sensitive, route-related data for BearTrak's transit section."
  /v1/transit/vehicles:
    get:
      summary: Vehicles
      tags:
        - transit
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Vehicle"
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: getV1TransitVehicles
      x-stoplight:
        id: skii58kqavo15
      description: "Returns time-sensitive, vehicle-related data for BearTrak's transit section."
  /v1/events:
    get:
      summary: Events
      tags:
        - events
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: getV1Events
      x-stoplight:
        id: ohky43ld8kd45
      description: Returns event data for BearTrak's events section.
  /v1/dining/user:
    parameters: []
    get:
      summary: Get Information
      tags: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiningUser"
        "401":
          description: Unauthorized
        default:
          description: Default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: getV1DiningUser
      x-stoplight:
        id: oypusjbwr7hrc
      parameters:
        - $ref: "#/components/parameters/DiningUserSession"
    post:
      summary: Register
      tags:
        - dining
        - diningUser
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - $ref: "#/components/schemas/DiningUser"
        "400":
          description: "Bad Request: device already exists"
          content: {}
        "401":
          description: "Unauthorized: bad sessionId"
          content: {}
        default:
          description: Default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: postV1DiningUser
      x-stoplight:
        id: bk7qsagm0f0yz
      description: Registers a new user given a device and session
      parameters:
        - $ref: "#/components/parameters/DiningUserSession"
        - $ref: "#/components/parameters/DiningUserDeviceId"
        - $ref: "#/components/parameters/DiningUserDevicePin"
    delete:
      summary: Delete
      tags:
        - dining
        - diningUser
      responses:
        "200":
          description: OK deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "401":
          description: Unauthorized
          content: {}
        default:
          description: Default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: deleteV1DiningUser
      x-stoplight:
        id: lcyrjqsgno3u9
      description: Deletes a user given a session
      parameters:
        - $ref: "#/components/parameters/DiningUserSession"
  /v1/dining/user/session:
    get:
      summary: Refresh Token
      tags:
        - dining
        - diningUser
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
        "401":
          description: Unauthorized
          content: {}
        default:
          description: Default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: getV1DiningUserSession
      x-stoplight:
        id: kqdhzz2k3y749
      description: Refreshes a session given a user device
      parameters:
        - $ref: "#/components/parameters/DiningUserDeviceId"
        - $ref: "#/components/parameters/DiningUserDevicePin"
    parameters: []
  /v1/dining/user/accounts:
    get:
      summary: Dining Accounts
      tags:
        - dining
        - diningUser
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DiningUserAccount"
        "401":
          description: Unauthorized
          content: {}
        default:
          description: Default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: getV1DiningUserAccounts
      x-stoplight:
        id: o3dflz1hb8swp
      description: Returns a dining user's transaction accounts given a session
      parameters:
        - $ref: "#/components/parameters/DiningUserSession"
    parameters: []
  /v1/dining/user/barcode:
    get:
      summary: Dining Barcode
      tags:
        - dining
        - diningUser
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
        "401":
          description: Unauthorized
          content: {}
        default:
          description: Default
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: getV1DiningUserBarcode
      x-stoplight:
        id: jgs6ef4pobwfv
      description: Returns a user's dining hall barcode given a session
      parameters:
        - $ref: "#/components/parameters/DiningUserSession"
    parameters: []
components:
  schemas:
    Alert:
      title: Alert
      x-stoplight:
        id: ae6llgzegnzv5
      type: object
      x-tags:
        - beartrak
      required:
        - id
        - title
        - message
        - enabled
        - showOnce
        - maxBuild
        - button
      properties:
        id:
          type: integer
          x-stoplight:
            id: 80tpwhx3zfpi6
        title:
          type: string
          x-stoplight:
            id: yem4lvu39oask
        message:
          type: string
          x-stoplight:
            id: bp5ir995yemxs
        enabled:
          type: boolean
          x-stoplight:
            id: 5cgo7ogy7oizn
        showOnce:
          type: boolean
          x-stoplight:
            id: asz4nk5bkpxut
        maxBuild:
          type: integer
          x-stoplight:
            id: irt2vgltn41jt
          nullable: true
        button:
          type: object
          x-stoplight:
            id: 149c9ieot39qz
          required:
            - title
            - url
          nullable: true
          properties:
            title:
              type: string
              x-stoplight:
                id: 897j0kv2lom6r
            url:
              type: string
              x-stoplight:
                id: 9rhio1ewe055f
              format: uri
        minMinutesSinceDownload:
          type: integer
          x-stoplight:
            id: meq2g0rg3k557
    Error:
      title: Error
      x-stoplight:
        id: csh4s0fu2c0dz
      type: object
      x-tags:
        - beartrak
      required:
        - code
        - message
      properties:
        code:
          type: integer
          x-stoplight:
            id: 3yyr0yzzvfru1
        message:
          type: string
          x-stoplight:
            id: 3kla3y1y92kn5
    Success:
      title: Success
      x-stoplight:
        id: gblzf81b3is45
      type: object
      required:
        - message
      properties:
        message:
          type: string
          x-stoplight:
            id: z9vnqvcye9u9l
    Hours:
      title: Hours
      x-stoplight:
        id: gxaa5try1by3b
      type: object
      x-tags:
        - beartrak
      required:
        - start
        - end
      properties:
        start:
          type: string
          x-stoplight:
            id: pevsj60dcgi3a
          format: date-time
        end:
          type: string
          x-stoplight:
            id: 5qalv4xgb0a05
          format: date-time
    Eatery:
      title: Eatery
      x-stoplight:
        id: t3d6ig3lqsua5
      type: object
      x-tags:
        - dining
      required:
        - id
        - name
        - nameShort
        - imagePath
        - latitude
        - longitude
        - location
        - hours
        - region
        - payMethods
        - categories
        - nextWeekEvents
        - allWeekMenu
      properties:
        id:
          type: integer
          x-stoplight:
            id: 18a2zedwfskoc
        name:
          type: string
          x-stoplight:
            id: qxk0k8jknfhwf
        nameShort:
          type: string
          x-stoplight:
            id: dswz6jvcu0njw
        imagePath:
          type: string
          x-stoplight:
            id: 0lv5n6id9dgjr
        latitude:
          type: number
          x-stoplight:
            id: dst3snzwlgj8f
          format: double
        longitude:
          type: number
          x-stoplight:
            id: aq7jp1pchfk33
          format: double
        location:
          type: string
          x-stoplight:
            id: ijnjtu0smflyv
        hours:
          x-stoplight:
            id: w9vicfj2xyci2
          type: array
          items:
            $ref: "#/components/schemas/Hours"
        region:
          x-stoplight:
            id: g762nv65cuibu
          type: string
          example: central
        payMethods:
          type: array
          x-stoplight:
            id: nlpfgxpn5obeb
          items:
            x-stoplight:
              id: tj2iccdcf7xpp
            type: string
            example: swipes
        categories:
          type: array
          x-stoplight:
            id: aizzbsbp6idt6
          items:
            x-stoplight:
              id: mcasfw3bcvr08
            type: string
            enum:
              - convenienceStore
              - cafe
              - diningRoom
              - coffeeShop
              - cart
              - foodCourt
            example: diningRoom
        nextWeekEvents:
          type: object
          x-stoplight:
            id: 2k2uouqvuivog
          required:
            - monday
            - tuesday
            - wednesday
            - thursday
            - friday
            - saturday
            - sunday
          properties:
            monday:
              x-stoplight:
                id: rxtsxv5xozp0t
              type: array
              nullable: true
              items:
                $ref: "#/components/schemas/EateryEvent"
            tuesday:
              x-stoplight:
                id: 1qayemfv8za3l
              type: array
              nullable: true
              items:
                $ref: "#/components/schemas/EateryEvent"
            wednesday:
              type: array
              x-stoplight:
                id: tby1a09yx1hdd
              nullable: true
              items:
                $ref: "#/components/schemas/EateryEvent"
            thursday:
              type: array
              x-stoplight:
                id: m3d80t4db5273
              nullable: true
              items:
                $ref: "#/components/schemas/EateryEvent"
            friday:
              type: array
              x-stoplight:
                id: wjb3fxmxxez8t
              nullable: true
              items:
                $ref: "#/components/schemas/EateryEvent"
            saturday:
              type: array
              x-stoplight:
                id: 1zcuyrewwph08
              nullable: true
              items:
                $ref: "#/components/schemas/EateryEvent"
            sunday:
              type: array
              x-stoplight:
                id: uri1v7i0uw41m
              nullable: true
              items:
                $ref: "#/components/schemas/EateryEvent"
        allWeekMenu:
          type: array
          x-stoplight:
            id: nywsrv2ysf0x0
          nullable: true
          items:
            $ref: "#/components/schemas/EateryMenuCategory"
    EateryEvent:
      title: EateryEvent
      x-stoplight:
        id: ydhf6l8rbeu6j
      type: object
      x-tags:
        - dining
      required:
        - start
        - end
        - menuCategories
      properties:
        start:
          type: string
          x-stoplight:
            id: 5oa36kslmmcx7
          format: date-time
        end:
          type: string
          x-stoplight:
            id: h2sbcgylb2yox
          format: date-time
        menuCategories:
          type: array
          x-stoplight:
            id: 0n2srgyvll5ai
          items:
            $ref: "#/components/schemas/EateryMenuCategory"
        name:
          type: string
          x-stoplight:
            id: noct4s1vy7klz
    EateryMenuCategory:
      title: EateryMenuCategory
      x-stoplight:
        id: 8impsr1umx51l
      type: object
      required:
        - name
        - items
      properties:
        name:
          type: string
          x-stoplight:
            id: uokh1c6z62jum
        items:
          type: array
          x-stoplight:
            id: y4en48gyobthc
          items:
            x-stoplight:
              id: 84h301527sshu
            type: object
            required:
              - name
              - healthy
            properties:
              name:
                type: string
                x-stoplight:
                  id: 7qwp93mg3fe8b
              healthy:
                type: boolean
                x-stoplight:
                  id: rjohztxb3rcw7
    Gym:
      title: Gym
      x-stoplight:
        id: arsgfiyj5hnnw
      type: object
      x-tags:
        - gyms
      required:
        - id
        - name
        - imagePath
        - latitude
        - longitude
        - hours
        - facilities
        - equipmentCategories
        - capacity
      properties:
        id:
          type: integer
          x-stoplight:
            id: e38t09tjxyc9p
        name:
          type: string
          x-stoplight:
            id: lvi3q8g6d7ygx
        imagePath:
          type: string
          x-stoplight:
            id: izei9phdx10ou
        latitude:
          type: number
          x-stoplight:
            id: o3lir1bffz9tn
          format: double
        longitude:
          type: number
          x-stoplight:
            id: yvuz0dlbv0dzt
          format: double
        hours:
          x-stoplight:
            id: iodtmc4p0kero
          type: array
          items:
            $ref: "#/components/schemas/Hours"
        facilities:
          type: array
          x-stoplight:
            id: pt2580qay9a2b
          items:
            x-stoplight:
              id: k5e4bwpntu2ou
            type: object
            required:
              - facilityType
              - name
            properties:
              facilityType:
                x-stoplight:
                  id: 1bnyqrqq6yo61
                type: string
                enum:
                  - pool
                  - basketball
                  - bowling
                  - unknown
                example: pool
              name:
                type: string
                x-stoplight:
                  id: czz0r1ru38i75
        equipmentCategories:
          type: array
          x-stoplight:
            id: oxjpkliaw0tvt
          items:
            x-stoplight:
              id: psolwrpj5sist
            type: object
            required:
              - categoryType
              - items
            properties:
              categoryType:
                x-stoplight:
                  id: vw3x0rfaemk4w
                type: string
                enum:
                  - treadmills
                  - ellipticals
                  - rowing
                  - bike
                  - lifting
                  - machines
                  - freeWeights
                  - misc
                example: treadmills
              items:
                type: array
                x-stoplight:
                  id: lf47giucu09l6
                items:
                  x-stoplight:
                    id: goz36vqbr6edz
                  type: string
        capacity:
          type: object
          x-stoplight:
            id: 8wihfhwf8dwhj
          required:
            - total
            - percentage
            - lastUpdated
          nullable: true
          properties:
            total:
              type: integer
              x-stoplight:
                id: zsa4f78a85o37
            percentage:
              type: integer
              x-stoplight:
                id: lev4eqa2vx5td
              nullable: true
            lastUpdated:
              type: string
              x-stoplight:
                id: n9pqcuhk7s66i
              format: date-time
    GymCapacityData:
      title: GymCapacityData
      x-stoplight:
        id: rjjb8aqhbkiri
      type: object
      x-tags:
        - gyms
      required:
        - locationId
        - points
      properties:
        locationId:
          type: integer
          x-stoplight:
            id: 2bupc8hujsvvj
        points:
          type: array
          x-stoplight:
            id: wqt1i48u7gww8
          items:
            $ref: "#/components/schemas/GymCapacityDataPoint"
    GymCapacityDataPoint:
      title: GymCapacityDataPoint
      x-stoplight:
        id: l4j55or0rri9u
      type: object
      required:
        - lastUpdated
        - count
      properties:
        lastUpdated:
          type: string
          x-stoplight:
            id: db55h2chssrfx
          format: date-time
        count:
          type: integer
          x-stoplight:
            id: j8fmix5z0120e
      x-tags:
        - gyms
    GymCapacityPredictions:
      title: GymCapacityPredictions
      x-stoplight:
        id: xqniueqx6wcri
      type: object
      x-tags:
        - gyms
      required:
        - locationId
        - points
      properties:
        locationId:
          type: integer
          x-stoplight:
            id: q65xhjqx5m0yw
        points:
          type: array
          x-stoplight:
            id: zpi9i5111yriv
          items:
            $ref: "#/components/schemas/GymCapacityPredictionPoint"
    GymCapacityPredictionPoint:
      title: GymCapacityPredictionPoint
      x-stoplight:
        id: jvusbyik0nvpm
      type: object
      required:
        - timestamp
        - predictionMadeAt
        - count
      properties:
        timestamp:
          type: string
          x-stoplight:
            id: bl8gvqhe0aimz
          format: date-time
        predictionMadeAt:
          type: string
          x-stoplight:
            id: pvd98gwizcfde
          format: date-time
        count:
          type: integer
          x-stoplight:
            id: gu942os4jb8ia
      x-tags:
        - gyms
    BusRoute:
      title: BusRoute
      x-stoplight:
        id: vhrxfmwszwvn2
      type: object
      x-tags:
        - transit
      required:
        - id
        - sortIdx
        - name
        - code
        - color
        - directions
        - vehicles
        - polylines
      properties:
        id:
          x-stoplight:
            id: 3vfevaxf6xjbk
          anyOf:
            - type: string
              x-stoplight:
                id: gqq22myl6vdf7
            - type: integer
              x-stoplight:
                id: ijvh6fzqoo6xp
        sortIdx:
          type: integer
          x-stoplight:
            id: s3aekiyhvbk14
        name:
          type: string
          x-stoplight:
            id: 7oejyd392fskq
        code:
          type: string
          x-stoplight:
            id: 9su1abmfvsxfj
        color:
          type: string
          x-stoplight:
            id: 2vmtul5fbjffg
        directions:
          type: array
          x-stoplight:
            id: 3pi8o0g8reop2
          items:
            $ref: "#/components/schemas/BusRouteDirection"
        vehicles:
          type: array
          x-stoplight:
            id: 2fivt02tij82b
          items:
            $ref: "#/components/schemas/Vehicle"
        polylines:
          type: array
          x-stoplight:
            id: apf2oz09wv0hj
          items:
            x-stoplight:
              id: k4qbqd38w9rvo
            type: string
    BusRouteDirection:
      title: BusRouteDirection
      x-stoplight:
        id: 8jnaphnnk1zxd
      type: object
      x-tags:
        - transit
      required:
        - name
        - stops
      properties:
        name:
          type: string
          x-stoplight:
            id: yonpoy41jcheq
        stops:
          type: array
          x-stoplight:
            id: ev6rvsgiqp36x
          items:
            x-stoplight:
              id: hssrmp4oydcsm
            type: object
            required:
              - id
              - name
              - longitude
              - latitude
            properties:
              id:
                type: string
                x-stoplight:
                  id: gvhgj7smacrzj
              name:
                type: string
                x-stoplight:
                  id: 8bthd9s2oujf0
              longitude:
                type: number
                x-stoplight:
                  id: 8jdebpdrx6ivm
                format: double
              latitude:
                type: number
                x-stoplight:
                  id: 8ex75a6rjzhoe
                format: double
    Vehicle:
      title: Vehicle
      x-stoplight:
        id: q5h6ogp9k6x42
      type: object
      x-tags:
        - transit
      required:
        - id
        - routeId
        - direction
        - heading
        - speed
        - latitude
        - longitude
        - displayStatus
        - destination
        - lastUpdated
        - lastStop
      properties:
        id:
          x-stoplight:
            id: uhfjn6hkr952f
          anyOf:
            - type: string
              x-stoplight:
                id: nsex3b6b03oyl
            - type: integer
              x-stoplight:
                id: 95pnffy83h3mi
        routeId:
          anyOf:
            - type: string
              x-stoplight:
                id: 409axdtbnb0v2
            - type: integer
              x-stoplight:
                id: cz5emu2dahk8n
        direction:
          type: string
          x-stoplight:
            id: 0gq4ujpx2tumr
        heading:
          type: integer
          x-stoplight:
            id: jzsp7ano0smnx
        speed:
          type: number
          x-stoplight:
            id: jr0651bul9pw3
          format: double
          description: Speed in mph
        latitude:
          type: number
          x-stoplight:
            id: 4u4i4u2m9xuvq
          format: double
        longitude:
          type: number
          x-stoplight:
            id: xg7c3au65nxqx
          format: double
        displayStatus:
          type: string
          x-stoplight:
            id: 60gfjaay32ggk
        destination:
          type: string
          x-stoplight:
            id: zw8pf118dz5f5
        lastUpdated:
          type: string
          x-stoplight:
            id: npwbh2swyuu70
          format: date-time
        lastStop:
          type: string
          x-stoplight:
            id: f9na87dt9fa28
          nullable: true
    DiningUserAccount:
      title: DiningUserAccount
      x-stoplight:
        id: yrurmcxv5gqz3
      type: object
      x-tags:
        - dining
        - diningUser
      required:
        - accountId
        - name
        - balance
      properties:
        accountId:
          type: string
          x-stoplight:
            id: tga9md1npd8m0
        name:
          type: string
          x-stoplight:
            id: mkynvgvjlp2de
        balance:
          x-stoplight:
            id: hf26bs0tm2j4p
          oneOf:
            - type: object
              x-ogen-name: DiningUserMoneyBalance
              x-stoplight:
                id: 9ykuy8dtzyzal
              required:
                - money
              properties:
                money:
                  type: number
                  x-stoplight:
                    id: eje28xnbu5tnn
                  format: double
            - type: object
              x-ogen-name: DiningUserSwipeBalance
              x-stoplight:
                id: f3rsr4mdsr19q
              required:
                - swipes
              properties:
                swipes:
                  type: integer
                  x-stoplight:
                    id: rcqg86njnxepw
    DiningUser:
      title: DiningUser
      x-stoplight:
        id: az7m9ghjiw1oe
      type: object
      required:
        - id
        - firstName
        - lastName
        - barcodeSeedHex
        - cashlessKey
      properties:
        id:
          type: string
          x-stoplight:
            id: 3h5x43g20mrou
        firstName:
          type: string
          x-stoplight:
            id: kj94o3xd365tf
        lastName:
          type: string
          x-stoplight:
            id: 8ve6g5ortxk32
        photoJpeg:
          type: string
          x-stoplight:
            id: xw1yzgr6ga0f0
          format: byte
        barcodeSeedHex:
          type: string
          x-stoplight:
            id: sl9nntyg98gu0
        cashlessKey:
          type: string
          x-stoplight:
            id: g18cbc36q0stj
    Library:
      title: Library
      x-stoplight:
        id: 7t8ifco2m65cu
      type: object
      x-tags:
        - study
      required:
        - id
        - name
        - imagePath
        - latitude
        - longitude
        - hours
        - printerLocations
      properties:
        id:
          type: integer
          x-stoplight:
            id: mrdy7lqd94nwv
        name:
          type: string
          x-stoplight:
            id: o7iuu3nhnrkvb
        imagePath:
          type: string
          x-stoplight:
            id: qd8qbuchudtll
        latitude:
          type: number
          x-stoplight:
            id: 0csppowzkzejo
          format: double
        longitude:
          type: number
          x-stoplight:
            id: bco3kbkdm67py
          format: double
        hours:
          type: array
          x-stoplight:
            id: ay4172st1mac5
          items:
            $ref: "#/components/schemas/Hours"
        cardAccessHours:
          type: array
          x-stoplight:
            id: lxxj4dsse4exy
          items:
            $ref: "#/components/schemas/Hours"
        printerLocations:
          type: array
          x-stoplight:
            id: y7z6w7c51w53o
          items:
            x-stoplight:
              id: 5lnt3uffoc6zq
            type: string
    Printer:
      title: Printer
      x-stoplight:
        id: zhineg35qiesd
      type: object
      x-tags:
        - study
      required:
        - latitude
        - longitude
        - location
        - room
        - type
      properties:
        latitude:
          type: number
          x-stoplight:
            id: uhcii240zyz53
          format: double
        longitude:
          type: number
          x-stoplight:
            id: zj4skzm4qv5v9
          format: double
        location:
          type: string
          x-stoplight:
            id: q1k04rq5wimi5
          nullable: true
        room:
          type: string
          x-stoplight:
            id: partqsvii7feg
          nullable: true
        type:
          type: string
          x-stoplight:
            id: 38u4y92l5k61p
          enum:
            - blackAndWhite
            - color
            - colorScanCopy
            - unknown
    StudyData:
      title: StudyData
      x-stoplight:
        id: zcjl7qhlb8be6
      type: object
      x-tags:
        - study
      required:
        - libraries
        - printers
      properties:
        libraries:
          type: array
          x-stoplight:
            id: wcisinknutgyw
          items:
            $ref: "#/components/schemas/Library"
        printers:
          type: array
          x-stoplight:
            id: jcwvolwde4ydo
          items:
            $ref: "#/components/schemas/Printer"
    Event:
      title: Event
      x-stoplight:
        id: ha882pgnoy3dc
      type: object
      x-tags:
        - events
      required:
        - id
        - title
        - description
        - hours
        - imageURL
        - locationName
        - latitude
        - longitude
        - group
      properties:
        id:
          type: integer
          x-stoplight:
            id: zgr9empv3aude
        title:
          type: string
          x-stoplight:
            id: gs1fixrt6igmz
        description:
          type: string
          x-stoplight:
            id: cwwomk1xym0jo
        hours:
          $ref: "#/components/schemas/Hours"
        imageURL:
          type: string
          x-stoplight:
            id: c4lfv04cksyfy
          nullable: true
        locationName:
          type: string
          x-stoplight:
            id: 1bb8p19yt3csx
          nullable: true
        latitude:
          type: number
          x-stoplight:
            id: b3x94bh5tf38d
          nullable: true
        longitude:
          type: number
          x-stoplight:
            id: ovf6r4c8pj8bs
          nullable: true
        group:
          $ref: "#/components/schemas/EventGroup"
    EventGroup:
      title: EventGroup
      x-stoplight:
        id: icql2do15vvat
      type: object
      description: ""
      required:
        - id
        - name
        - url
      properties:
        id:
          type: integer
          x-stoplight:
            id: rqompukvz2mzg
        name:
          type: string
          x-stoplight:
            id: be7nsxd4v93oi
        url:
          type: string
          x-stoplight:
            id: wk5xd1zgwq1tz
          format: uri
      x-tags:
        - events
  parameters:
    DiningUserSession:
      name: sessionId
      in: query
      required: true
      schema:
        type: string
      description: An authenticated dining user sessionId
    DiningUserDeviceId:
      name: deviceId
      in: query
      required: true
      schema:
        type: string
      description: A dining user deviceId
    DiningUserDevicePin:
      name: PIN
      in: query
      required: true
      schema:
        type: string
      description: A dining user device PIN.
x-internal: false
tags:
  - name: beartrak
    description: General BearTrak features
  - name: dining
    description: Dining features
  - name: diningUser
    description: Dining features that require a user login
  - name: gyms
    description: Gym features
  - name: transit
    description: Transit features
