services:
  db:
    image: postgres:17
    container_name: transitclock-db
    platform: linux/amd64
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: "${AGENCYNAME-UMICH}"
      POSTGRES_PASSWORD: ${PGPASSWORD}
      TZ: "America/New_York"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  server: # deploy with tunnel on port 8080
    image: ghcr.io/benkoppe/trak-transitclock:${SOURCE_COMMIT:-latest}
    restart: always
    platform: linux/amd64
    container_name: transitclock-server-instance
    depends_on:
      db:
        condition: service_healthy # Wait for db healthcheck to pass
    environment:
      PGPASSWORD: ${PGPASSWORD}
      PGHOST: db
      PGUSER: postgres
      PGDATABASE: postgres
      POSTGRES_PORT_5432_TCP_ADDR: db
      POSTGRES_PORT_5432_TCP_PORT: 5432
      AGENCYID: "${AGENCYID-1}"
      AGENCYNAME: "${AGENCYNAME-UMICH}"
      GTFS_URL: "${GTFS_URL:-https://webapps.fo.umich.edu/transit_uploads/google_transit.zip}"
      TRAK_URL: "${TRAK_URL:-https://bluetrakapi.thekoppe.com}"
      TZ: "America/New_York"
    volumes:
      - logs:/usr/local/transitclock/logs/
      - cache:/usr/local/transitclock/cache/
    networks:
      - tunnel
      - default

volumes:
  logs:
  cache:

networks:
  tunnel:
    external: true
