name: Docker Build and Push

on:
  workflow_call:
    inputs:
      output:
        description: "Flake output to build"
        required: true
        type: string
      name:
        description: "Image name. Doesn't include repo name or tags"
        required: true
        type: string

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build docker image
        env:
          OUTPUT: ${{ inputs.output }}
        run: |
          nix build "$OUTPUT"

      - name: Load docker image
        run: |
          docker load < ./result

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ inputs.name }}

      - name: Push docker image
        uses: akhilerm/tag-push-action@v2.j.0
        with:
          src: ghcr.io/${{ github.repository_owner }}/${{ inputs.name }}:latest
          dst: |
            ${{ steps.meta.outputs.tags }}
