name: Build Nix Docker

on:
  workflow_dispatch:
  pull_request:

permissions:
  packages: write
  contents: read

jobs:
  build-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [otp-cornell, otp-umich, otp-harvard]
        include:
          - service: otp-cornell
            output: ./otp#cornell
            name: bear-trak-otp-cornell

          - service: otp-umich
            output: ./otp#umich
            name: bear-trak-otp-umich

          - service: otp-harvard
            output: ./otp#harvard
            name: bear-trak-otp-harvard

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build docker image
        env:
          OUTPUT: ${{ matrix.output }}
        run: |
          nix build "$OUTPUT"

      - name: Load docker image
        run: |
          ./result | docker load

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ matrix.name }}

      - name: Push docker image
        uses: akhilerm/tag-push-action@v2.2.0
        with:
          src: ghcr.io/${{ github.repository_owner }}/${{ matrix.name }}:latest
          dst: |
            ${{ steps.meta.outputs.tags }}
