name: Pipeline
on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: choice
        options:
          - production
          - staging
        default: staging

  push:
    branches:
      - "main"
      - "dev"

permissions:
  packages: write
  contents: read

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [go-server, transitclock]
        include:
          - service: go-server
            context: ./go-server
            dockerfile: go-server/Dockerfile
            tags: |
              ghcr.io/benkoppe/bear-trak-go:latest
              ghcr.io/benkoppe/bear-trak-go:${{ github.sha }}
          - service: transitclock
            context: ./transitclock
            dockerfile: transitclock/Dockerfile
            tags: |
              ghcr.io/benkoppe/trak-transitclock:latest
              ghcr.io/benkoppe/trak-transitclock:${{ github.sha }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log into the Container registry
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ${{ matrix.service }} image
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ matrix.tags }}
          build-args: |
            SCHOOL=${{ matrix.school }}
            JAVA_TOOL_OPTIONS=${{ matrix.java_tool_options }}
