name: PR Docker Build

on: pull_request

jobs:
  build:
    strategy:
      matrix:
        service: [otp-cornell, otp-umich, otp-harvard]
        include:
          - service: otp-cornell
            output: ./otp#cornell
            name: bear-trak-otp-cornell

          - service: otp-umich
            output: ./otp#umich
            name: bear-trak-otp-umich

          - service: otp-harvard
            output: ./otp#harvard
            name: bear-trak-otp-harvard

    uses: ./.github/workflows/docker-build-push.yml
    with:
      output: ${{ matrix.output }}
      name: ${{ matrix.name }}
